<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

                <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">留言</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                         <input type="image" src="/img/64.png" /> 
                    </div>
                    <div class="media-body">
                        <textarea class="form-control" id="summary" rows="4" placeholder="文章留言"></textarea>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="/img/64.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia
                            headingMedia headingMedia headingMedia headffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffasdhgsegesrgerrrrra
                            headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia
                            headingMedia headffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffasdhgsegesrgerrrrra
                            headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia
                            headingMedia headffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffasdhgsegesrgerrrrra
                            headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia
                            headingMedia headffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffasdhgsegesrgerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrsrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrringMedia
                            headingMedia headingMedia heading</h4>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                                  <img class="media-object" src="/img/64.png" alt="...">
                                </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia
                            headingMedia headingMedia headingMedia headffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffasdhgsegesrgerrrrra
                            headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia
                            headingMedia headffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffasdhgsegesrgerrrrra
                            headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia
                            headingMedia headffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffasdhgsegesrgerrrrra
                            headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia headingMedia
                            headingMedia headffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffasdhgsegesrgerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrsrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrringMedia
                            headingMedia headingMedia heading</h4>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-1"></div>

</div>
<br>
