<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">留言</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                         <input class="btn btn-default pull-left" id="ejsbutton" style="width:64px;height:64px" type="button" value="提交" />
                    </div>
                    <div class="media-body">
                        <textarea class="form-control" id="ajaxdata" rows="4" placeholder="文章留言" ></textarea>
                    </div>
                </div>
                <!-- 前端渲染部分 启 -->
                <div id="ejsmessage"></div>
                <!-- 前端渲染部分 止 -->
            </div>
        </div>

    </div>
    <div class="col-md-1"></div>

</div>
<br>
