  <% if (success) { %>
     <div class="alert alert-success text-center" role="alert"><%= success %></div>
  <% } %>

  <% if (error) { %>
     <div class="alert alert-danger text-center" role="alert"><%= error %></div> 
  <% } %>

