doctype html
html
  head
    meta(charset='UTF-8')
    title
      | Blog
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      block title
    nav
      span
        a(title='主页', href='/')
          | home
      if user
       span
         a(title='发表', href='/users/post')
           | post
       span
         a(title='登出', href='/users/logout')
           | logout
      else
       span
         a(title='登录', href='/login')
           | login
       span
         a(title='注册', href='/register')
           | register
    article
      block content
      if success
        div
        | #{success}
      else
        div
        | #{error}