<div class="media">
    <div class="media-left">
        <a href="#">
           <img class="media-object" style="width:64px;height:64px" src="/img/icon/<%= res.icon %>" alt="...">
        </a>
    </div>
    <div class="media-body">
        <p> <%= res.mescontent %> </p>
    </div>
</div>
